* {
  margin: 0;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.everything {
  width: 550px;
  height: 680px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50px;
  box-shadow: 5px 8px 4px 5px #0000000d;
  border: 10px solid rgba(0, 0, 0, 0.134);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 65px;
  border-radius: 40px 40px 0px 0px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
}

.troll--image {
  width: 31.31px;
}

.header > h2 {
  letter-spacing: 0.1px;
  margin-left: 3px;
  margin-top: -5px;
}

.textboxes {
  display: flex;
  flex-direction: column;
}

.boxes {
  display: flex;
  width: 550px;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 23px;
}

.top--label,
.bottom--label {
  font-size: 14px;
  margin-top: 10px;
}

.top--text,
.bottom--text {
  width: 220px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 7.37px 10.64px 7.37px 10.64px;
  border-radius: 4.91px;
  border: 0.82px solid #d1d5db;
  box-shadow: 0px 0.8187389969825745px 1.637477993965149px 0px #0000000d;
}

.button {
  width: 477px;
  margin-left: 37px;
  margin-top: 20px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.107);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
}

.meme {
  
  position: relative;
  width: 500px;
  min-height: 400px;
  margin-left: 30px;
  margin-top: 30px;
}

.image {
  
  width: 475px;
  height: 400px;
  object-fit: contain;
  background-color: #d7c6fa;
  padding: 10px;
  display: block;
  border-radius: 20px;
  box-shadow: 5px 8px 4px 5px #0000000d;
}

.meme--text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;

  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 40px;
}

.bottom {
  bottom: 0;
}
